<footer class="bg-dark text-white py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5><i class="fas fa-filter"></i> Fitfilter</h5>
                <p>Finding your perfect fit, one size at a time.</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'products:home' %}" class="text-white-50">Home</a></li>
                    <li><a href="{% url 'products:product_list' %}" class="text-white-50">Products</a></li>
                    <li><a href="{% url 'accounts:register' %}" class="text-white-50">Sign Up</a></li>
                    <li><a href="{% url 'accounts:login' %}" class="text-white-50">Login</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contact</h5>
                <p>Email: support@fitfilter.shop</p>
                <p>Phone: +353 1 123 4567</p>
            </div>
        </div>
    </div>
</footer>
